CARD.DTD

<!--DOCTYPE taskcard PUBLIC "-//PAL-AED//DTD TASKCARD//EN" [-->

<!-- ==================================================== -->
<!--          BOEING TC DECK DTDS                         -->
<!-- ==================================================== -->  


 
<!-- ========================================================= -->
<!--          AIRBUS AMM NOTATIONS                                        -->
<!-- ========================================================= -->
<!NOTATION cgm PUBLIC 
  "-//USA-DOD//NOTATION Computer Graphics Metafile//EN"            >

<!NOTATION ccitt4 PUBLIC 
  "-//USA-DOD//NOTATION CCITT Group4 Facsimile//EN"                >

<!NOTATION gcf PUBLIC
  "-//ATA-TEXT//NOTATION Graphic Companion File//EN"               >

<!NOTATION pdf PUBLIC
  "-//Adobe Inc.//NOTATION Portable Document Format//EN"           >

<!NOTATION png PUBLIC
  "-//W3C//NOTATION Portable Network Graphics//EN"                 >

<!NOTATION jpeg PUBLIC
  "+//ISBN 0-7923-9432-1::Graphic Notation//NOTATION Joint
   Photographic Experts Group Raster//EN"                          >

<!NOTATION vrml PUBLIC 
  "-//ATA-TEXT//NOTATION Virtual Reality Modeling Language//EN"    >

<!NOTATION mpeg PUBLIC
  "-//ATA-TEXT//NOTATION Motion Pictures Expert Group//EN"         >

<!NOTATION mp3 PUBLIC
  "-//ATA-TEXT//NOTATION Motion Pictures Expert Group, Audio
   Layer 3//EN"                                                    >

<!-- ==================================================== -->
<!--           ENTITIES                                   -->
<!-- ==================================================== -->
<!ENTITY  % g.r     "(refblock* | (grphcref*, refext*,
                      refint*))"                            >
<!ENTITY  % w.c     "(warning*, caution*)"                  >

<!ENTITY  % text    "(para | note | table | unlist
                     | numlist)+"                           >

<!ENTITY  % yesorno      "NUMBER"                           >

<!ENTITY  % deleted "(deleted, chgdesc*)"                   >

<!ENTITY  % revatt
           "chg     (N|R|U|D)    #REQUIRED
            key     ID           #REQUIRED
            revdate NUMBER       #IMPLIED"                  >
            
<!ENTITY   % ein    "(ein | einmfr)" >      
            
<!--<!ENTITY   % ISOtech      PUBLIC -->
<!--     "ISO 8879-1986//ENTITIES   General Technical//EN"             >-->
<!--<!ENTITY   % ISOpub      PUBLIC -->
<!--     "ISO 8879-1986//ENTITIES Publishing//EN"                      >-->
<!--<!ENTITY   % ISOnum      PUBLIC -->
<!--   "ISO 8879-1986//ENTITIES   Numeric and Special Graphic//EN"     >-->
<!--<!ENTITY   % ISOgrk1     PUBLIC -->
<!--     "ISO 8879-1986//ENTITIES   Greek Letters//EN"                 >-->
<!--<!ENTITY   % ISOgrk2     PUBLIC -->
<!--     "ISO 8879-1986//ENTITIES Monotoniko Greek//EN"                >-->
<!--<!ENTITY   % ISOgrk3     PUBLIC -->
<!--     "ISO 8879-1986//ENTITIES Greek Symbols//EN"                   >-->
<!--<!ENTITY   % ISOgrk4     PUBLIC -->
<!--     "ISO 8879-1986//ENTITIES Alternative Greek Symbols//EN"       >-->
<!--<!ENTITY   % ISOlat1     PUBLIC -->
<!--     "ISO 8879-1986//ENTITIES Added Latin 1//EN"                   >-->
<!--<!ENTITY   % ISObox      PUBLIC-->
<!--     "ISO 8879-1986//ENTITIES Box and Line Drawing//EN"            >-->
<!--<!ENTITY   % ISOamso     PUBLIC-->
<!--     "ISO 8879-1986//ENTITIES Added Math Symbols: Ordinary//EN"    >-->
<!--<!ENTITY   % ISOamsc     PUBLIC-->
<!--     "ISO 8879-1986//ENTITIES Added Math Symbols: Delimiters//EN"  >-->

<!--%ISOtech; %ISOpub; %ISOnum; %ISOgrk1; %ISOgrk2; %ISOgrk3;-->
<!--%ISOgrk4; %ISOlat1; %ISObox; %ISOamso; %ISOamsc;-->

<!-- ==================================================== -->
<!--           AIRBUS ENTITIES                            -->
<!-- ==================================================== -->


<!ENTITY   % stdwarn    SYSTEM  "AMM.SWE"                   >
<!ENTITY   % stdcaut    SYSTEM  "AMM.SCE"                   >
<!--
<!ENTITY   % stdcfe	SYSTEM	"AMM.CFE"		    >
-->

%stdwarn;  %stdcaut; 
<!--
 %stdcfe;
-->

<!-- ==================================================== -->
<!--           GIAN ENTITIES                            -->
<!-- ==================================================== -->

<!ENTITY quot "&#34;">
<!ENTITY gt   ">">
<!ENTITY lt   "<">
<!ENTITY apos "'">

<!-- ==================================================== -->
<!--            TASKCARD                                  -->
<!-- ==================================================== -->
<!ELEMENT taskcard  - -  ((effect, chgdesc*, (mainhead | cchead), 
                           tcbody?, graphic*, pdfattach*) | %deleted;)
                        +(revst | revend | cocst | cocend)  >
<!ATTLIST taskcard
          cardnbr        CDATA     #REQUIRED
          mprog          CDATA     #REQUIRED
          etopsind       CDATA     #IMPLIED 
          %revatt;                                          
          wodate		CDATA		#IMPLIED												
          tail			CDATA		#IMPLIED
          station		CDATA		#IMPLIED
          wo			CDATA		#IMPLIED		
          cardrevdate	CDATA		#REQUIRED												
          status		CDATA		#REQUIRED					
          revnum		CDATA		#REQUIRED
															>		<!-- Possible values of status: Draft, Pending, Active -->						<!-- GIAN -->   

<!ELEMENT pdfattach - -  (#PCDATA)							>															
<!ELEMENT mainhead  - -  (source, refdata, skill+, workarea+,       
                         reltask*, specnote?, intdata, 
			 			 tasktype, title, tnote*, apapdata, enapdata, 
                         zdata, acdata?)                    > 								<!-- GIAN -->                        
<!ELEMENT source    - -  (#PCDATA)                          >
<!ELEMENT refdata   - -  (reference+)                          >
<!ELEMENT reference - -  (#PCDATA)                          >
<!ELEMENT skill     - -  (#PCDATA)                          >
<!ELEMENT workarea  - -  (#PCDATA)                          > 
<!ELEMENT tnote		- -  (#PCDATA)							>								<!-- GIAN -->  
<!ELEMENT reltask   - -  (rtaskcd, rtasknbr)                >
<!ELEMENT rtaskcd   - -  (#PCDATA)                          >
<!ELEMENT rtasknbr  - -  (#PCDATA | refint)+                >

<!ELEMENT intdata   - -  ((sampleinterval*, interval+, intnote?) | intnote)  > 				<!-- GIAN -->
<!ELEMENT interval  - -  (version, thrshold, repeat?, phase?)>
<!ELEMENT sampleinterval - -  (version, samplethrshold, samplerepeat?, phase?)>				<!-- GIAN -->
<!ELEMENT version   - -  (#PCDATA)                          >
<!ELEMENT thrshold  - -  (thrshtyp, ((multiple, unit, sample)
                         | optask))+                         >  
<!ELEMENT repeat    - -  (thrshtyp, multiple, unit, sample)+ >
<!ELEMENT samplethrshold  - -  (thrshtyp, ((multiple, unit, sample)							
                         | optask))+                         >  								<!-- GIAN -->	
<!ELEMENT samplerepeat    - -  (thrshtyp, multiple, unit, sample)+ >							<!-- GIAN -->
<!ELEMENT thrshtyp  - -  (#PCDATA)                          >
<!ELEMENT multiple  - -  (#PCDATA)                          >

<!ELEMENT unit      - -  (#PCDATA)                          >
<!ELEMENT sample    - -  (#PCDATA)                          >
<!ELEMENT optask    - -  (#PCDATA)                          >

<!ELEMENT phase     - -  (mntcycle, pthrshld, prepeat)      >       
<!ELEMENT mntcycle  - -  (#PCDATA)                          >
<!ELEMENT pthrshld  - -  (#PCDATA)                          >
<!ELEMENT prepeat   - -  (#PCDATA)                          >
<!ELEMENT intnote   - -  (%text;)                           >

<!ELEMENT tasktype  - -  (#PCDATA)                          >
    
<!ELEMENT apapdata  - -  (apapplic*, apapnote*)             >
<!ELEMENT apapplic  - -  (#PCDATA)                          >

<!ELEMENT specnote  - -  (%text;)                           >

<!ELEMENT apapnote  - -  (%text;)                           >

<!ELEMENT enapdata  - -  (engappl*, eappnote*)              >
<!ELEMENT engappl   - -  (#PCDATA)                          >
<!ELEMENT eappnote  - -  (%text;)                           >

<!ELEMENT acdata    - -  (acpan*, acpanote*)                >
<!ELEMENT acpan     - -  (#PCDATA)                          >
<!ELEMENT acpanote  - -  (%text;)                           >

<!ELEMENT zdata    - -  (zone*)           				     >
<!ELEMENT zone      - -  (#PCDATA)                          >

<!ELEMENT cchead    - -  (skill+, workarea+, reltask*, specnote?,
                         tasktype, title, apapdata, enapdata,
                         zone+, acdata?)                    >

<!ELEMENT tcbody    - -  (tccat?, taskproc?, mpditem*, 
                         pretsmry?, hazmtlst?, task*)       >

<!ELEMENT tccat     - -  (#PCDATA)                          >

<!ELEMENT mpditem   - -  (mpdnbr, taskloc?, linspect?, title?,
                         taskdesc?, ch5tskno?, awlimit?,
                         supldata)                          >       
<!ELEMENT taskproc  - -  (%text;)                           >
<!ELEMENT mpdnbr    - -  (#PCDATA)                          >
<!ELEMENT taskloc   - -  (#PCDATA)                          >
<!ELEMENT linspect  - -  (#PCDATA)                          >
<!ELEMENT taskdesc  - -  (%text;)                           >
<!ELEMENT awlimit   - -  (#PCDATA)                          >       
<!ELEMENT ch5tskno  - -  (#PCDATA)                          >
<!ELEMENT pretsmry  - -  (pretopic+)                        >

<!-- Supplemental MPD Data: man hours, number of people,  -->
<!-- msg-3 task category code, msg-3 failure effect cate- -->
<!-- gory code, elapsed time  (comes from MPS database)   -->
<!--
<!ELEMENT supldata  - - (manhours, nbrpeopl, elaptime, 
                         tc_manhours?, tc_nbrpeopl?,
                         tc_elaptime?, taskctgy?, feftctgy*)>
<!ELEMENT manhours	- - (#PCDATA)                       >
<!ELEMENT nbrpeopl	- - (#PCDATA)                       >
<!ELEMENT elaptime	- - (#PCDATA)                       >
<!ELEMENT tc_manhours	- - (#PCDATA)                       >
<!ELEMENT tc_nbrpeopl	- - (#PCDATA)                       >
<!ELEMENT tc_elaptime	- - (#PCDATA)                       >
<!ELEMENT taskctgy	- - (#PCDATA)                       >
<!ELEMENT feftctgy	- - (#PCDATA)                       >
 -->     

<!-- ==================================================== -->
<!--          AIRBUS AMM DTDS                             -->
<!-- ==================================================== -->   
<!-- =========================================================== -->
<!--     AMM TOP LEVEL STRUCTURE                                 -->
<!-- =========================================================== -->

<!ELEMENT amm       - -  ((title, legalntc?, mfmatr, chapter+)
                         | increv | tr+)
                    +(revst|revend|cocst|cocend|docunit|hotlink)   >

<!ATTLIST amm
          spl       CDATA                             #REQUIRED
          model     CDATA                             #REQUIRED
          oidate    NUMBER                            #REQUIRED
          revdate   NUMBER                            #REQUIRED
          tsn       CDATA                             #REQUIRED
          cus       CDATA                             #IMPLIED
          cusname   CDATA                             #IMPLIED
          docnbr    CDATA                             #IMPLIED
          lang      CDATA                             #REQUIRED
          chg       (N|R|U)                           "N"          
          efflen    NUMBER                            #IMPLIED      
          efftype   CDATA                             #IMPLIED     >

<!ELEMENT increv    - -  (transltr?, (legalntc?, (chapter 
                         | section | subject | pgblk | task 
                         | subtask | sheet | graphic | trlist 
                         | intro | effxref | sblist | coclist 
                         | drindex | hazmtlst | zac | zoning 
                         | acclst | glossary)+))                   >

<!ELEMENT tr        - -  (legalntc?, trfmatr, (chapter | section+ 
                         | subject+ | pgblk+ | task+ | subtask+ 
                         | sheet+ | graphic+ | intro | effxref 
                         | sblist | coclist | drindex | legalntc 
                         | hazmtlst | zac | zoning | acclst
                         | glossary))                              >

<!ELEMENT trfmatr   - -  (title, trreason, (%text;)?)              >
<!ATTLIST trfmatr   
          trnbr     CDATA                             #REQUIRED
          trdel     CDATA                             #IMPLIED
          trrepl    CDATA                             #IMPLIED
          issdate   NUMBER                            #REQUIRED    >
<!ELEMENT trreason  - -  (#PCDATA)                                 >

<!-- =========================================================== -->
<!--       Legal Notice Information                              -->
<!-- =========================================================== -->

<!ELEMENT legalntc  - -  (exprtcl | cpyrght | proptary | geninfo)+ >
<!ATTLIST legalntc
          %revatt;                                                 >

<!ELEMENT proptary  - -  (fullstmt, partstmt?)                     >
<!ELEMENT fullstmt  - -  (title?, cpyrght?, para+)                 >
<!ELEMENT partstmt  - -  (title?, para+)                           >
<!ELEMENT exprtcl   - -  (para | unlist | numlist | note)+         >
<!ELEMENT cpyrght   - -  (year*, holder*, geninfo)                 >
<!ELEMENT year      - -  (#PCDATA)                                 >
<!ELEMENT holder    - -  (#PCDATA)                                 >
<!ELEMENT geninfo   - -  (para | unlist | numlist | note)+         >

<!-- =========================================================== -->
<!--     AMM FRONT MATTER                                        -->
<!-- =========================================================== -->

<!ELEMENT mfmatr    - -  (transltr?, trlist?, intro, effxref, 
                          sblist, coclist?, drindex?, hazmtlst?,
                          zac?, glossary?)                         >
<!ELEMENT transltr  - -  (chgdesc*, title, (prclist1 | %text;))    >
<!ATTLIST transltr  
          %revatt;                                                 >
<!ELEMENT trlist    - -  ((%text;)?, (trdata+ | isempty))          >
<!ATTLIST trlist    
          %revatt;                                                 >
<!ELEMENT trdata    - -  (trnbr, trstatus, trloc+)                 >
<!ELEMENT intro     - -  (chgdesc*, title, prclist1)               >
<!ATTLIST intro     
          %revatt;                                                 >
<!ELEMENT effxref   - -  (chgdesc*, title, (%text;)?, effdata+)    >
<!ATTLIST effxref   
          %revatt;                                                 >
<!ELEMENT effdata   - -  (cus?, modtype?, cec, linenbr?, ect?,
                          venbr?, esnbr?, benbr?, msnbr, acn?,
                          operator?, fslgnbr?, cac?, cusaid?)      >
<!ELEMENT ect       - -  (#PCDATA)                                 >
<!ELEMENT esnbr     - -  (#PCDATA)                                 >
<!ELEMENT cusaid    - -  (#PCDATA)                                 >
<!ELEMENT cac       - -  (#PCDATA)                                 >
<!ELEMENT fslgnbr   - -  (#PCDATA)                                 >
<!ELEMENT operator  - -  (#PCDATA)                                 >

<!ELEMENT sblist    - -  (chgdesc*, title, %text;, (sbdata+ 
                         | isempty))                               >
<!ATTLIST sblist    
          %revatt;                                                 >
<!ELEMENT sbdata    - -  (sbnbr?, sbrev?, sbtitle?, sbnrmfr*, 
                          eonbr*, atanbr?, mdnbr*, cocnbr*, sc?, 
                          aclist*, ics, custeff?)                  >
<!ELEMENT sbnrmfr   - -  (sbnbr, mfr?)                             >
<!ELEMENT mfr       - -  (#PCDATA)                                 >
<!ELEMENT sbrev     - -  (#PCDATA)                                 >
<!ELEMENT aclist    - O  EMPTY                                     >
<!ATTLIST aclist
          status         CDATA                        #IMPLIED
          effrg          CDATA                        #IMPLIED     >

<!ELEMENT custeff   - -  (cus, effrc)+                             >

<!ELEMENT coclist   - -  (chgdesc*, title, %text;, (cocdata+
                         | isempty))                               >
<!ATTLIST coclist   
          %revatt;                                                 >
<!ELEMENT cocdata   - -  (cocnbr?, cocrev?, eonbr*, atanbr?, mdnbr*,
                          custeff?, sc?, aclist*, title?, (icdate |
                          ics))                                    >

<!ELEMENT cocrev    - -  (#PCDATA)                                 >
<!ELEMENT icdate    - -  (#PCDATA)                                 >
<!ELEMENT eonbr     - -  (#PCDATA)                                 >

<!ELEMENT drindex   - -  (chgdesc*, title, %text;, drdata+)        >
<!ATTLIST drindex   
          %revatt;                                                 >
<!ELEMENT drdata    - - (refext, drdesc, refint+)                  >
<!ELEMENT cus       - -  (#PCDATA)                                 >
<!ELEMENT effrc     - -  (#PCDATA)                                 >
<!ELEMENT modtype   - -  (#PCDATA)                                 >
<!ELEMENT cec       - -  (#PCDATA)                                 >
<!ELEMENT linenbr   - -  (#PCDATA)                                 >
<!ELEMENT venbr     - -  (#PCDATA)                                 >
<!ELEMENT benbr     - -  (#PCDATA)                                 >
<!ELEMENT sc        - -  (#PCDATA)                                 >
<!ELEMENT sbnbr     - -  (#PCDATA)                                 >
<!ELEMENT sbtitle   - -  (#PCDATA)                                 >
<!ELEMENT acn       - -  (#PCDATA)                                 >
<!ELEMENT drdesc    - -  (#PCDATA)                                 >
<!ELEMENT atanbr    - -  (#PCDATA)                                 >
<!ELEMENT mdnbr     - -  (#PCDATA)                                 >
<!ELEMENT cocnbr    - -  (#PCDATA)                                 >
<!ELEMENT ics       - -  (#PCDATA)                                 >
<!ATTLIST ics
          status         CDATA                        #IMPLIED     >
<!ELEMENT msnbr     - -  (#PCDATA)                                 >
<!ELEMENT trnbr     - -  (#PCDATA)                                 >
<!ELEMENT trstatus  - -  (#PCDATA)                                 >
<!ELEMENT trloc     - -  (#PCDATA)                                 >

<!ELEMENT hazmtlst  - -  (title, pretopic*, hazmt+)                >
<!ATTLIST hazmtlst
          %revatt;                                                 >
<!ELEMENT hazmt     - -  (title, warning)                          >
<!ATTLIST hazmt     
          id        ID                                #REQUIRED    >

<!-- =========================================================== -->
<!--             Aircraft Zoning and Access                      -->
<!-- =========================================================== -->
<!ELEMENT zac       - -  (chgdesc*, zoning?, acclst?, graphic*)    >
<!ATTLIST zac 
          %revatt;                                                 >

<!-- Access description -->
<!ELEMENT acclst    - -  (chgdesc*, title?, (%text;)?, (access+  
                         | isempty))                               >
<!ATTLIST acclst 
          %revatt;                                                 >
<!ELEMENT access    - -  (effect?, pan, accdata+)                  >
<!ELEMENT accdata   - -  (effect?, zone, accein?, accessto?, 
                         fastener?, dd?, openhour?, grphcref*)     >
<!ELEMENT accein    - -  (%ein;)+                                  >
<!ELEMENT accessto  - -  (#PCDATA)                                 >
<!ELEMENT fastener  - -  (fsttype, fstqty)                         >
<!ATTLIST fastener 
          hing      %yesorno;                         #IMPLIED     >
<!ELEMENT fsttype   - -  (#PCDATA)                                 >
<!ELEMENT fstqty    - -  (#PCDATA)                                 >

<!ELEMENT dd        - O  EMPTY                                     >
<!ATTLIST dd 
          width     NMTOKEN                           #IMPLIED
          length    NMTOKEN                           #IMPLIED
          dia       NMTOKEN                           #IMPLIED
          unit      (ft|in|mm|cm|m)                   #IMPLIED     >
<!ELEMENT openhour  - -  (#PCDATA)                                 >

<!-- zones description -->
<!ELEMENT zoning    - -  (chgdesc*, title?, (%text;)?, (majzone+ 
                         | isempty))                               >
<!ATTLIST zoning 
          %revatt;                                                 >
<!ELEMENT majzone   - -  (effect?, zone, zondata+, subzone*)       >
<!ELEMENT subzone   - -  (effect?, zone, zondata+, speczone*)      >
<!ELEMENT speczone  - -  (effect?, zone, zondata+)                 >
<!ELEMENT zondata   - -  (effect?, zonedesc, side, bndfrom?, bndto?,
                          grphcref*)                               >
<!ELEMENT side      - O  EMPTY                                     >
<!ATTLIST side
          hand      (LH | RH | LR)                    #REQUIRED    >
<!ELEMENT zonedesc  - -  (#PCDATA)                                 >
<!ELEMENT bndfrom   - -  (boundary)+                               >
<!ELEMENT bndto     - -  (boundary)+                               >
<!ELEMENT boundary  - -  (#PCDATA| frame| rib | stnnbr | stgr)*    >
<!ELEMENT frame     - -  (#PCDATA)                                 >
<!ELEMENT stnnbr    - -  (#PCDATA)                                 >
<!ELEMENT rib       - -  (#PCDATA)                                 >
<!ELEMENT stgr      - -  (#PCDATA)                                 >

<!-- =========================================================== -->
<!--                     Glossary                                -->
<!-- =========================================================== -->
<!ELEMENT glossary  - -  ((chgdesc*, title, (%text;)?, glosdata*) 
                         | %deleted;)                              >
<!ATTLIST glossary
          oldkey    NAME                              #IMPLIED
          %revatt;                                                 >
 
<!ELEMENT glosdata  - -  (term, def)                               >
<!ELEMENT term      - -  (#PCDATA)                                 >
<!ELEMENT def       - -  (#PCDATA)                                 >
<!-- =========================================================== -->
<!--     CHAPTER                                                 -->
<!-- =========================================================== -->

<!ELEMENT chapter   - -  ((effect?, chgdesc*, title, section+)
                         | %deleted;)                              >
<!ATTLIST chapter   
          chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #REQUIRED
          %revatt;                                                 >

<!-- =========================================================== -->
<!--     SECTION                                                 -->
<!-- =========================================================== -->
 
<!ELEMENT section   - -  ((effect?, chgdesc*, title, subject+)
                         | %deleted;)                              >
<!ATTLIST section   
          chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #REQUIRED
          %revatt;                                                 >

<!-- =========================================================== -->
<!--     SUBJECT                                                 -->
<!-- =========================================================== -->

<!ELEMENT subject   - -  ((effect?, chgdesc*, title, pgblk+) 
                         | %deleted;)                              >
<!ATTLIST subject 
          chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #REQUIRED
          subjnbr   NUMBER                            #REQUIRED
          %revatt;                                                 >

<!-- =========================================================== -->
<!--     PAGEBLOCK                                               -->
<!-- =========================================================== -->

<!ELEMENT pgblk     - -  ((effect, chgdesc*, title, pbfmatr?,
                         (task+ | prclist1)?, graphic*) 
                         | %deleted;)                              >
<!ATTLIST pgblk     
          chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #REQUIRED
          subjnbr   NUMBER                            #REQUIRED
          pgblknbr  NUMBER                            #REQUIRED
          confnbr   NUMBER                            #IMPLIED
          %revatt;                                                 >
       
<!ELEMENT pbfmatr   - -  (title, %g.r;, (list1 | %text;)) +(effect)>

<!-- ========================================================== -->
<!--     TASK                                                   -->
<!-- ========================================================== -->

<!ELEMENT task      - -  ((effect, chgdesc*, title, %g.r;, %w.c;, 
                          note*, assodata?, tfmatr?, topic*,
                          graphic*) | %deleted;)                   >
<!ATTLIST task      
          chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #REQUIRED
          subjnbr   NUMBER                            #REQUIRED
          func      CDATA                             #REQUIRED
          seq       CDATA                             #REQUIRED
          confltr   CDATA                             #IMPLIED
          varnbr    NUMBER                            #IMPLIED
          alunqi    CDATA                             #IMPLIED
          pgblknbr  NUMBER                            #REQUIRED
          confnbr   NUMBER                            #IMPLIED
          %revatt;                                                 >

<!-- =========================================================== -->
<!--     TASK ASSOCIATED DATA                                    -->
<!-- =========================================================== -->

<!ELEMENT assodata  - -  (zonelst?, einlst?, taskreq?, elapstim?,
                          manhour?, nbrpers?)                      >
<!ELEMENT einlst    - -  (eindata+)                                >
<!ELEMENT eindata   - -  (effect, %ein;)                           >
<!ELEMENT zonelst   - -  (zone+)                                   >
<!ELEMENT taskreq   - O  EMPTY                                     >
<!ATTLIST taskreq
          mechreq   (mech | nomech)                   #IMPLIED
          panreq    (pan | nopan)                     #IMPLIED
          tedreq    (ted | noted)                     #IMPLIED     >

<!ELEMENT elapstim  - -  (#PCDATA)                                 >
<!ELEMENT manhour   - -  (#PCDATA)                                 >
<!ELEMENT nbrpers   - -  (#PCDATA)                                 >


<!-- ========================================================== -->
<!--     TASK ASSOCIATED ELEMENTS                               -->
<!-- ========================================================== -->
 
<!ELEMENT tfmatr    - -  (pretopic+)                               >
<!ELEMENT pretopic  - -  (title, (%text; | list1))     +(effect)   >
<!ELEMENT topic     - -  (effect?, title, %g.r;, %w.c;, note*,
                          subtask*)                                >

<!-- ========================================================== -->
<!--     SUBTASK                                                -->
<!-- ========================================================== -->

<!ELEMENT  subtask  - - ((effect, chgdesc*, %g.r;, %w.c;,
                        note*, list1, so*)|%deleted;)          +(effect)>						<!--GIAN-->
<!ATTLIST  subtask
 		  chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #REQUIRED
          subjnbr   NUMBER                            #REQUIRED
          func      CDATA                             #REQUIRED
          seq       CDATA                             #REQUIRED
          confltr   CDATA                             #IMPLIED
          varnbr    NUMBER                            #IMPLIED
          alunqi    CDATA                             #IMPLIED
          pgblknbr  NUMBER                            #REQUIRED
          confnbr   NUMBER                            #IMPLIED
          %revatt;                                                 >

<!-- ========================================================== -->
<!--     PROCEDURE(INC D&O) LIST STRUCTURE                      -->
<!-- ========================================================== -->

<!ELEMENT prclist1  - -  (prcitem1+)                   +(effect)   >
<!ELEMENT prclist2  - -  (prcitem2+)                               >
<!ELEMENT prclist3  - -  (prcitem3+)                               >
<!ELEMENT prclist4  - -  (prcitem4+)                               >
<!ELEMENT prclist5  - -  (prcitem5+)                               >
<!ELEMENT prclist6  - -  (prcitem6+)                               >
<!ELEMENT prclist7  - -  (prcitem7+)                               >

<!ELEMENT prcitem1  - -  (prcitem, prclist2?, graphic*)            >
<!ATTLIST prcitem1
          id        ID                                #IMPLIED     >
<!ELEMENT prcitem2  - -  (prcitem, prclist3?)                      >
<!ATTLIST prcitem2
          id        ID                                #IMPLIED     >
<!ELEMENT prcitem3  - -  (prcitem, prclist4?)                      >
<!ATTLIST prcitem3
          id        ID                                #IMPLIED     >
<!ELEMENT prcitem4  - -  (prcitem, prclist5?)                      >
<!ATTLIST prcitem4
          id        ID                                #IMPLIED     >
<!ELEMENT prcitem5  - -  (prcitem, prclist6?)                      >
<!ATTLIST prcitem5
          id        ID                                #IMPLIED     >
<!ELEMENT prcitem6  - -  (prcitem, prclist7?)                      >
<!ATTLIST prcitem6
          id        ID                                #IMPLIED     >
<!ELEMENT prcitem7  - -  (prcitem)                                 >
<!ATTLIST prcitem7
          id        ID                                #IMPLIED     >

<!ELEMENT prcitem   - -  (title?, (%w.c; | %text; | equlst 
                         | cblst)*)                                >


<!-- ========================================================== -->
<!--     STANDARD LISTS                                         -->
<!-- ========================================================== -->
<!ELEMENT list1     - -  (l1item+)                                 >
<!ELEMENT list2     - -  (ltitle?, l2item+)                        >
<!ELEMENT list3     - -  (l3item+)                                 >
<!ELEMENT list4     - -  (l4item+)                                 >
<!ELEMENT list5     - -  (l5item+)                                 >
<!ELEMENT list6     - -  (l6item+)                                 >
<!ELEMENT list7     - -  (l7item+)                                 >
																					<!--GIAN-->
<!ELEMENT l1item    - -  (%w.c;, %text;, ((cblst | list2 | art),
                          note*)*, so*)                                 >
<!ELEMENT l2item    - -  (%w.c;, %text;, (list3, note*)?, so*)          >
<!ELEMENT l3item    - -  (%w.c;, %text;, (list4, note*)?, so*)          >
<!ELEMENT l4item    - -  (%w.c;, %text;, (list5, note*)?, so*)          >
<!ELEMENT l5item    - -  (%w.c;, %text;, (list6, note*)?, so*)          >
<!ELEMENT l6item    - -  (%w.c;, %text;, (list7, note*)?, so*)          >
<!ELEMENT l7item    - -  (%w.c;, %text;)                           >



<!ELEMENT so - - (#PCDATA)									>						<!--GIAN-->
<!ATTLIST so
  id       number       #REQUIRED								>

<!-- ========================================================== -->
<!--     ACTION RESULT TABLE                                    -->
<!-- ========================================================== -->
<!ELEMENT art       - -  (ltitle?, (%w.c;, note*, action)+)        >
<!ELEMENT action    - -  (%text;, result*)                         >
<!ELEMENT result    - -  (%text;)                                  >


<!-- =========================================================== -->
<!--     DATA ASSOCIATED TO EQUIPMENTS                           -->
<!-- =========================================================== -->

<!ELEMENT equlst    - -  (equdata+)                                >
<!ELEMENT equdata   - -  (effect?, %ein;, equname, sftlst?, zone?, 
                          pan*, atanbr?)                           >
<!ELEMENT equname   - -  (#PCDATA)                                 >
<!ELEMENT sftlst    - -  (sftdata+)                                >
<!ELEMENT sftdata   - -  (effect?, %ein;, equname, atanbr?)        >


<!-- =========================================================== -->
<!--     CIRCUIT BREAKER TABLE                                   -->
<!-- =========================================================== -->

<!ELEMENT cblst     - -  (cbsublst+)                               >
<!ATTLIST cblst
          chksum    CDATA                             #IMPLIED
          action    CDATA                             #IMPLIED     >
<!ELEMENT cbsublst  - -  (effect?, ((%ein;), equname?)*, cbdata+)  >
<!ATTLIST cbsublst
          chksum    CDATA                             #IMPLIED     >
<!ELEMENT cbdata    - -  (effect?, cb, cbname, pan?, cbloc?)       >
<!ELEMENT cbname    - -  (#PCDATA)                                 >
<!ELEMENT cbloc     - -  (#PCDATA)                                 >



<!-- ========================================================== -->
<!--     TABLE (CELLULAR, CALS BASED)                           -->
<!-- ========================================================== -->

<!ELEMENT table     - -  ((title?, tgroup, ftnote*) | graphic+)
                                                       -(table)    >
<!ATTLIST table     
          tabstyle  NMTOKEN                           #IMPLIED
          frame     (top | bottom | topbot | all
                    | sides | none)                   #IMPLIED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          orient    (port|land)                       #IMPLIED
          pgwide    %yesorno;                         #IMPLIED
          id        ID                                #IMPLIED     >

<!ELEMENT tgroup    - O  (colspec*, spanspec*, thead?, tfoot?,
                          tbody)                                   >
<!ATTLIST tgroup    
          cols      NUMBER                            #REQUIRED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          align     (left | right | center 
                    | justify | char)                 "left"
          charoff   NUTOKEN                           "50"
          char      CDATA                             ""           >

<!ELEMENT colspec   - O  EMPTY                                     >
<!ATTLIST colspec   
          colnum    NUMBER                            #IMPLIED
          colname   NMTOKEN                           #IMPLIED
          align     (left | right | center 
                    | justify | char)                 #IMPLIED
          charoff   NUTOKEN                           #IMPLIED
          char      CDATA                             #IMPLIED
          colwidth  CDATA                             #IMPLIED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED     >

<!ELEMENT spanspec  - O  EMPTY                                     >
<!ATTLIST spanspec  
          namest    NMTOKEN                           #REQUIRED
          nameend   NMTOKEN                           #REQUIRED
          spanname  NMTOKEN                           #IMPLIED
          align     (left | right | center 
                    | justify | char)                 "center"
          charoff   NUTOKEN                           #IMPLIED
          char      CDATA                             #IMPLIED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED     >

<!ELEMENT thead     - O  (colspec*, row+)                          >
<!ATTLIST thead     
          valign    (top | middle | bottom)           "bottom"     >

<!ELEMENT tfoot     - O  (colspec*, row+)                          >
<!ATTLIST tfoot
          valign    (top | middle | bottom)           "top"        >

<!ELEMENT tbody     - O  (row+)                                    >
<!ATTLIST tbody
          valign    (top | middle | bottom)           "top"        >

<!ELEMENT row       - O  (entry+)                                  >
<!ATTLIST row       
          rowsep    %yesorno;                         #IMPLIED     >

<!ELEMENT entry     - O  (%text; | %w.c; | graphic)*               >
<!ATTLIST entry     
          colname   NMTOKEN                           #IMPLIED
          namest    NMTOKEN                           #IMPLIED
          nameend   NMTOKEN                           #IMPLIED
          spanname  NMTOKEN                           #IMPLIED
          morerows  NUMBER                            "0"
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          rotate    %yesorno;                         "0"
          valign    (top|middle|bottom)               "top"
          align     (left | right | center 
                    | justify | char)                 #IMPLIED
          charoff   NUTOKEN                           #IMPLIED
          char      CDATA                             #IMPLIED     >

<!ELEMENT ftnote    - -  %text;                                    >
<!ATTLIST ftnote    
          ftnoteid  ID                                #REQUIRED    >

<!-- =========================================================== -->
<!--    REFERENCE BLOCK and GRAPHIC REFERENCING MECHANISMS       -->
<!-- =========================================================== -->

<!ELEMENT refblock  - -  (#PCDATA | refint | refext | grphcref)*   >

<!ELEMENT grphcref  - -  (effect?, #PCDATA)                        >
<!ATTLIST grphcref  
          refid     IDREF                             #IMPLIED
          sheetnbr  CDATA                             #IMPLIED
          structid  CDATA                             #IMPLIED
          shownow   %yesorno;                         "0"          >

<!ELEMENT graphic   - -  ((effect, chgdesc*, title?, sheet+)
                         | %deleted;)                              >
<!ATTLIST graphic   
          chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #IMPLIED
          sectnbr   NUMBER                            #IMPLIED
          subjnbr   NUMBER                            #IMPLIED
          func      CDATA                             #IMPLIED
          seq       CDATA                             #IMPLIED
          confltr   CDATA                             #IMPLIED
          varnbr    NUMBER                            #IMPLIED
          alunqi    CDATA                             #IMPLIED
          pgblknbr  NUMBER                            #IMPLIED
          confnbr   NUMBER                            #IMPLIED
          %revatt;                                                 >

<!ELEMENT sheet     - -  ((effect, chgdesc*, title?, gdesc?)
                         | %deleted;)                              >
<!ATTLIST sheet     
          gnbr      ENTITY                            #REQUIRED
          cfnbr     ENTITY                            #IMPLIED
          sheetnbr  CDATA                             #IMPLIED
          imgarea   (AP|BP|CP|DL|EL|FP|GP|HL|IL)      #IMPLIED
          %revatt;                                                 >

<!ELEMENT gdesc     - -  (unlist | numlist)                        >


<!-- ========================================================== -->
<!--     NUMBERED & UN-NUMBERED LIST                            -->
<!-- ========================================================== -->

<!ELEMENT unlist    - -  (unlitem+)                                >
<!ATTLIST unlist    
	  bulltype CDATA #IMPLIED   >
<!-- GIAN GIAN GIAN -->

<!--          bulltype  (NONE|BULLET|NDASH|MDASH|DIAMOND|ASTERISK		-->
<!--                    |DELTA|SQUARE|SYSTEM)             "SYSTEM"     >-->

<!ELEMENT unlitem   - -  (para+)                                   >
<!ELEMENT numlist   - -  (numlitem+)                               >
<!ATTLIST numlist   
          numtype   (NNP|AUP|NNB|ALB|NNS|RUP|RLP|RUR|RLR
                    |NNR|AUR|ALR)                     "NNP"        >
<!ELEMENT numlitem  - -  (para+)                                   >


<!-- ========================================================== -->
<!--     PARAGRAPH                                              -->
<!-- ========================================================== -->

<!ELEMENT para      - -  (#PCDATA | cb | con | csn | equ | grphcref
                         | (%ein;) | ncon | pan | refext | refint 
                         | sub | super | ted | toc | txtgrphc 
                         | std | zone| expd | stdname | tor  
                         | refblock | toolnbr | refmedia 
                         | grsymbol)+                              >


<!-- ========================================================== -->
<!--     PARAGRAPH CONTENTS                                     -->
<!-- ========================================================== -->

<!ELEMENT cb        - -  (#PCDATA)                                 >
<!ATTLIST cb
          cbtype    CDATA                             #IMPLIED
          action    CDATA                             #IMPLIED
          chksum    CDATA                             #IMPLIED     >
<!ELEMENT con       - -  (connbr, conname?, refint?)               >
<!ATTLIST con
          contype   CDATA                             #IMPLIED
          hazd      %yesorno;                         #IMPLIED     >
<!ELEMENT connbr    - -  (#PCDATA)                                 >
<!ELEMENT conname   - -  (#PCDATA)                                 >
<!ELEMENT csn       - -  (#PCDATA)                                 >
<!ELEMENT einmfr    - -  (ein, mfr?)                               >
<!ELEMENT ein       - -  (#PCDATA)                                 >
<!ATTLIST ein
          type      CDATA                             #IMPLIED     >
<!ELEMENT equ       - -  (#PCDATA | sub | super)+                  >
<!ELEMENT ncon      - -  (#PCDATA)                                 >
<!ELEMENT pan       - -  (#PCDATA)                                 >
<!ATTLIST pan
          pantype   CDATA                             #IMPLIED     >

<!ELEMENT refext    - -  (#PCDATA)                                 >
<!ATTLIST refext    
          refman    CDATA                             #IMPLIED
          refspl    CDATA                             #IMPLIED
          refmodel  CDATA                             #IMPLIED
          docnbr    CDATA                             #IMPLIED
          refloc    CDATA                             #IMPLIED     >
 
<!ELEMENT refint    - -  (#PCDATA)                                 >
<!ATTLIST refint    
          reftype   CDATA                             #IMPLIED
          refid     CDATA                             #IMPLIED     >			<!-- GIAN, changed IDREF to CDATA -->

<!ELEMENT refmedia  - -  (#PCDATA)                                 >
<!ATTLIST refmedia
          mednbr    ENTITY                            #REQUIRED    >

<!ELEMENT grsymbol    - O   EMPTY                                  >
<!ATTLIST grsymbol
          gnbr            ENTITY                      #REQUIRED 
          reprowid        CDATA                       #IMPLIED 
          reprohgt        CDATA                       #IMPLIED 
          reproscl        CDATA                       #IMPLIED     >

<!ELEMENT expd      - -  (csn, expdname?, itemnbr?, grphcref?)     >
<!ATTLIST expd
          expdtype  CDATA                             #IMPLIED     >
<!ELEMENT expdname  - -  (#PCDATA)                                 >
<!ELEMENT itemnbr   - -  (#PCDATA)                                 >

<!ELEMENT std       - -  (stdnbr?, stdname)+                       >
<!ELEMENT stdnbr    - -  (#PCDATA)                                 >
<!ELEMENT stdname   - -  (#PCDATA)                                 >
<!ELEMENT sub       - -  (#PCDATA)                                 >
<!ELEMENT super     - -  (#PCDATA)                                 >
<!ELEMENT ted       - -  (toolnbr, toolname)+                      >
<!ELEMENT toolnbr   - -  (#PCDATA)                                 >
<!ELEMENT toolname  - -  (#PCDATA)                                 >

<!ELEMENT tor       - -  (torvalue+)                               >
<!ELEMENT torvalue  - O  EMPTY                                     >
<!ATTLIST torvalue
          min       CDATA                             #REQUIRED
          max       CDATA                             #IMPLIED
          unit      (lbf.in|lbf.ft|m.daN|m.N)         #REQUIRED    >

<!ELEMENT toc       - - (#PCDATA)                                  >
<!ATTLIST toc       
          readable  %yesorno;                         "1"          >

<!ELEMENT txtgrphc  - -  (txtline+)                                >
<!ELEMENT txtline   - -  (#PCDATA)                                 >
<!--<!ELEMENT zone      - -  (#PCDATA)                                 >-->


<!-- ========================================================== -->
<!--     TITLE etc                                              -->
<!-- ========================================================== -->

<!ELEMENT title     - -  (#PCDATA | %ein; | sbnbr | sub | super)+  >
<!ELEMENT ltitle    - -  (#PCDATA)                                 >
<!ELEMENT warning   - -  (%text;)             -(note)  +(effect)   >
<!ELEMENT note      - -  (%text;)             -(note)  +(effect)   >
<!ELEMENT caution   - -  (%text;)             -(note)  +(effect)   >


<!-- =========================================================== -->
<!--     MISCELLANEOUS CONSTRUCTIONS TO:                         -->
<!--     MARK EFFECTIVITIES AND DOCUMENT UNITS                   -->
<!--     MARK DELETED AND REVISED ELEMENTS                       -->
<!--     SUPPORT CROSS-REFERENCING MECHANISMS                    -->
<!-- =========================================================== -->

<!ELEMENT effect    - -  ((sbeff | coceff)*)                       >
<!ATTLIST effect    
          effrg     CDATA                             #IMPLIED
          efftext   CDATA                             #IMPLIED     >

<!ELEMENT sbeff     - O  EMPTY                                     >
<!ATTLIST sbeff     
          effrg     CDATA                             #IMPLIED
          efftext   CDATA                             #IMPLIED
          sbnbr     CDATA                             #REQUIRED
          sbcond    CDATA                             #REQUIRED
          sbrev     CDATA                             #IMPLIED     >

<!ELEMENT coceff    - O  EMPTY                                     >
<!ATTLIST coceff    
          effrg     CDATA                             #IMPLIED
          efftext   CDATA                             #IMPLIED
          cocnbr    CDATA                             #REQUIRED
          coccond   CDATA                             #IMPLIED
          cocrev    CDATA                             #IMPLIED     >
       
<!ELEMENT deleted   - O EMPTY                                      >
<!ELEMENT isempty   - O EMPTY                                      >
<!ELEMENT revst     - O EMPTY                                      >
<!ELEMENT revend    - O EMPTY                                      >
<!ELEMENT cocst     - O EMPTY                                      >
<!ELEMENT cocend    - O EMPTY                                      >
<!ELEMENT chgdesc   - - (#PCDATA)                                  >

<!ELEMENT hotlink   - O  EMPTY                                     >
<!ATTLIST hotlink   
          targetid     CDATA                          #IMPLIED
          targetrefid  CDATA                          #IMPLIED     >
       
<!ELEMENT docunit   - O  EMPTY                                     >
<!ATTLIST docunit   
          docunbr   CDATA                             #IMPLIED     >
<!--   ]>   -->
